<!DOCTYPE html>
<html>
<head>
  <title>Maple</title>
  <%= stylesheet_link_tag    "home_layout", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container" style="width: 96%;margin-top:10px;">
      <a class="brand" href="#" id="mz-top-link-logo">&nbsp;</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">error</a></li>
        </ul>
        <div class="pull-right">
          <div class="pull-right">
            <img class="photo" src="/assets/icon-members.png">
          </div>
          <div class="pull-right">
            <label class="username">Username</label>
            <a id="logout"href="#">logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="wrap"> 
    <%= yield %>
</div>
</body>
</html>